<%= cache ["v3", "project", "dialog"] do %>
  <div id="project_dialog" class="modal hide fade" tabindex="-1" role="dialog">
    <%= simple_form_for(@project, :validate => true, :html => { :method => "put" }) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Create Project</h3>
      </div>
      <div class="modal-body">
        <%= f.input :key %>
        <%= f.input :name %>
        <%= f.input :description %>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
