<div class="centered centered-50">
  <h2><%= @team.name %></h2>
  <ul>
    <% @team.members.all.each do |member| %>
      <li>
        <%= link_to member.user.username, main_app.overview_path(:user => member.user.username) %>
        (<%= link_to "Remove", main_app.team_team_member_path(:user => current_user.username, :key => @team.project.key, :team_id => @team.id, :id => member.id), :method => :delete %>)
      </li>
    <% end %>
  </ul>
  <%= simple_form_for @team.members.build, :validate => true, :url => main_app.team_team_members_path(:user => current_user.username, :key => @team.project.key, :team_id => @team.id) do |f| %>
    <%= f.association :user, :collection => available_members(@team) %>
    <%= f.button :submit, :class => "btn btn-small" %>
  <% end %>
</div>
