<% cache ["v12", issue] do %>
<tr class="backlog-issue issue <%= issue.state %> state-<%= issue.issue_type.name.downcase %>">
  <td class="td-first dragger"></td>
  <td class="td-second">
    <p class="issue-headline issue-line-1">
      <span class="issue-type-short">
        <%= issue_type(issue, true) %>
      </span>

      <%= issue_id(issue) %>
      <span class="issue-summary"><%= content_tag :span, issue.summary, :class => "issue-#{issue.state}" %></span>
    </p>
  </td>
</tr>
<% end %>
