<div class="span3">
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">My projects (<%= @accessible_projects.count %>)</li>
      <%= render :partial => "project", :collection => @accessible_projects %>
    </ul>
    <%= link_to t("misc.new_project"), new_project_path, :class => 'btn btn-inverse btn-small' %>
  </div>
</div>

<div class="span9">
  <div class="well" data-cell="DashboardTour">
  <div class="activities-anchor"></div>
  <table class="Activities">
    <tbody>
      <%= render :partial => "audit", :collection => @audits %>
      <%= content_tag :p, t("misc.no_recent_activity") if @audits.count == 0 %>
    </tbody>
  </table>
  </div>
</div>
