<% cache ["v3", issue] do %>
<div>
<table>
<tr class="issue">
  <td class="issue-options"><%= check_box_tag "issue[id[]]", issue.number, false, :id => "issue_#{issue.number}" %></td>
  <td>
    <p class="issue-headline issue-line-1">
      <%= link_to issue_id(issue), main_app.issue_path(:user => @project.user.username, :key => @project.key, :id => issue.number) %>
      <span class="issue-summary"><%= issue.summary %></span>
    </p>
    <p class="issue-description issue-line-2">
      <%= issue.description %>
    </p>
    <p class="issue-labels issue-line-3">
      <%= issue_type(issue) %>
      <%= issue_reported_by(issue) %>
      <%= issue_reported_at(issue) %>
    </p>
  </td>
</tr>
</table>
</div>
<% end %>
