<% cache ["v8", issue] do %>
<div>
<table>
<tr class="issue <%= issue.state %>">
  <td class="issue-options"><%= check_box_tag "issue[id[]]", issue.number, false, :id => "issue_#{issue.number}" %></td>
  <td>
    <p class="issue-headline issue-line-1">
      <span class="issue-type-short">
        <%= issue_type(issue, true) %>
      </span>

      <%= issue_comments(issue) %>
      <%= issue_id(issue) %>
      <span class="issue-summary"><%= content_tag :span, issue.summary, :class => "issue-#{issue.state}" %></span>
    </p>
    <p class="issue-description issue-line-2">
      <%= issue.description %>
    </p>
    <p class="issue-labels issue-line-3">
      <%= issue_type(issue) %>
      <%= issue_state(issue) %>
      <%= issue_priority(issue) %>
      <%= issue_reported_by(issue) %>
      <%= issue_reported_at(issue) %>
    </p>
  </td>
</tr>
</table>
</div>
<% end %>
