<%= cache ["v1", "issue", "dialog"] do %>
  <div id="issue_dialog" class="modal hide fade issue-dialog" tabindex="-1" role="dialog">
    <%= simple_form_for(@issue, :validate => true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Create Issue</h3>
      </div>
      <div class="modal-body">
        <%= f.association :project %>
        <%= f.input :summary %>
        <%= f.input :description %>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
