<div data-behaviour="backlog">
  <div class="options">
    <%= link_to "Create", main_app.new_issue_path, :class => "btn btn-small btn-primary" %>
    <%= link_to "Refresh", main_app.issues_path(:format => :pjax), :class => "btn btn-small btn-refresh" %>
    <div class="btn-group" data-toggle="buttons-radio" data-behaviour="issue-view">
      <button type="button" class="btn btn-small" data-view="minimal">List</button>
      <button type="button" class="btn btn-small" data-view="compact">Compact</button>
      <button type="button" class="btn btn-small active" data-view="detailed">Detailed</button>
    </div>
  </div>

  <div class="issue-list issue-detailed">
    <%= render @issues %>
  </div>
</div>

<% content_for :sidebar do %>
  <% cache ["v1", "issues", "backlog", "sidebar"] do %>
    <%= render_cell :"tyne_core/backlog_sidebar", :filter %>
    <%= render_cell :"tyne_core/backlog_sidebar", :sorting %>
    <%= render_cell :"tyne_core/backlog_sidebar", :grouping %>
  <% end %>
<% end %>
