<% cache ["v2", "issue", "new"] do %>
<h3>Create Issue</h3>
<%= simple_form_for(@issue, :url => main_app.issues_path, :validate => true) do |f| %>
  <%= f.input :summary %>
  <%= f.association :issue_type %>
  <%= f.input :description %>
  <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>
<% end %>
