<% cache ["v7", "view", @issue] do %>
<h1>Show Issue</h1>
<div class="options">
  <%= link_to "Edit", main_app.edit_issue_path(:user => @project.user.username, :key => @project.key, :id => @issue.number), :class => 'btn btn-primary btn-small' %>
  <div class="btn-group">
    <%= default_action(@issue) %>
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% @issue.state_transitions.each do |transition| %>
        <li><%= link_to I18n.t("states.transitions.#{transition.event}"), main_app.workflow_issue_path(:user => @project.user.username, :key => @project.key, :id => @issue.number, :transition => transition.event) %></li>
      <% end %>
    </ul>
  </div>
</div>
<h2><%= @issue.summary %></h2>
<p class="tag-list">
  <%= issue_type(@issue) %>
  <%= issue_reported_by(@issue) %>
  <%= issue_reported_at(@issue) %>
</p>
<p><%= markup_to_html(@issue.description) %></p>

  <%= render :partial => "tabs", :locals => { :issue => @issue } %>
<% end %>

<% content_for :sidebar do %>
  <h1>Sidebar</h1>
<% end %>
